__pycache__/
.ipynb_checkpoints/
.vscode/

Segments/
reps/
out/
contrastive_out/
folds_patientwise/
StackedRecons_ptbxl_Clean/
StackedRecons_ptbxl_Clean_Contr/

*.npy
*.pt
*.pth
*.ckpt
*.h5
*.pkl
*.zip
*.tar
*.tar.gz

.DS_Store
